.button
  padding: 1rem 2.5rem 
  font-size: 0.85rem
  border: 0.15rem solid $mainColor
  color: $light
  background-color: $mainColor
  text-transform: uppercase
  transition: background-color 0.3s
  &:hover
    cursor: pointer
    background-color: rgba(252, 90, 10, 0.1)
    border: 0.15rem solid $mainColor

