.popup
  display: none
  position: fixed
  left: 0
  top: 0
  bottom: 0
  width: 100%
  height: 100%
  z-index: 3
  background-color: rgba($black, 0.8)
  &-group
    width: 100%
  &-close
    position: absolute
    top: 0
    right: 0
    width: 1.5rem
    height: 1.5rem
    background: transparent url('../img/close.png') no-repeat center
    border: none
    margin: 12px
    cursor: pointer
  &-content
    display: flex
    align-items: center
    justify-content: center
    flex-direction: column
    position: fixed
    left: 50%
    top: 20%
    width: 40%
    max-width: 25rem
    transform: translateX(-50%)
    background-color: $light
  &-heading
    margin: 0
    padding-top: 2rem
    font-size: 1.5rem
    text-align: center
    &--second
      padding-top: 0
  &__form
    display: flex
    align-items: center
    flex-direction: column
    padding: 2rem 1rem
    width: 80%
  &__input
    width: 100%
  &-price
    &-call
      &-button
        // margin-bottom: 2rem
  &-table
    padding: 1rem
    width: 100%
    border-spacing: 4px
    &__th, &__tr, &__td
      font-size: 1rem
    &__td
      padding: 0.5rem 0
      text-align: center
  &-label
    display: flex
    flex-direction: column
    align-items: center
    padding: 1rem 0